<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC
"-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>IdleFaceLock</string>

    <key>CFBundleIconFile</key>
    <string>IdleFaceLock</string>

    <key>CFBundleDisplayName</key>
    <string>IdleFaceLock</string>

    <key>CFBundleIdentifier</key>
    <string>com.zzzqiuchan.idlefacelock</string>

    <key>CFBundleVersion</key>
    <string>0.5.4</string>

    <key>CFBundleShortVersionString</key>
    <string>0.5.4</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>

    <key>LSUIElement</key>
    <true/>

    <key>NSHighResolutionCapable</key>
    <true/>

    <key>NSCameraUsageDescription</key>
    <string>IdleFaceLock briefly uses the camera after your Mac has been idle to determine whether you are present.</string>
</dict>
</plist>
